* {
  box-sizing: border-box;
  // overflow: scroll;
}

.wrapper{
  height: 100%;
  width: 100%;
}

// チャット画面
.chat-main{
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #ffffff;
  float: left;
  .main-header{
    height: 100px;
    border-bottom: solid 2px #eeeeee; 
    // position: fixed;
    &__info{
      height: 70px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      line-height: 70px;
      &__name{
        color: #333333;
        font-size: 20px;

      }
      &__edit-btn{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        border: solid 2px #38aef0;
        font-size: 16px;
        a{
          text-decoration: none;
          color: #38aef0;
        }
        
  
      }
    }
    .group-member{
      font-size: 12px;
      padding-left: 40px;
      color: #999999;
      
    }
  }

  .messages{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 40px 46px;
    overflow: scroll;
    .message-info{
      display: flex;
      &__user-name{
        color: #333333;
        font-size: 16px;

      }
      &__data{
        color: #999999;
        font-size: 12px;
        padding-left: 10px;


      }
      
    }
    .current-message{
      color: #434a54;
      font-size: 14px;
      padding-top: 12px;
    }

  }

  .form{
    background-color: #DDDDDD;
    height: 90px;
    width: calc(100vw - 300px);
    padding: 20px 50px 20px 40px;
    position: fixed;
    bottom: 0;
    form{
      display: flex;
      .input-box{
        display: flex;
        position: relative;
        width: 100%;
        &__text{
          height: 50px;
          width: 100%;
          color: #434a54;
          border-style: none;
          padding: 0 40px 0 10px;
        }
        &__image{
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          font-size: 1.3rem;
          &__file{
            display: none;

          }
        }
      }
      .submit-btn{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
    }
  }
}

// サイドバー・
.side-bar{
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;
  float: left;
  .side-header{
    height: 100px;
    background-color: #253141;
    align-items: center;
    display: flex;
    &__box{
      width: 260px;
      height: 20px;
      color: wheat;
      margin: 0 auto;
      align-items: center;
      display: flex;
      justify-content: space-between;
      &__icon{
        display: flex;
        text-decoration: none;
        a{
        color: #ffffff;
        }
        &--new-groups{
          padding: 0 5px 0 0;
        }
        &--edit{

        }
      }
    }
  }
  .groups{
    height: calc(100vh - 100px);
    // overflow: scroll;
    box-sizing: border-box;
    padding: 20px;
    .group{
      // padding: 0 20px;
      color: #ffffff;
      font-weight: bold;
      a{
        color: wheat;
        text-decoration: none;
        &__name{
          font-size: 15px;
          padding-top: 20px;
        }
        &__message{
          font-size: 11px;
          padding: 5px 0 40px 0;
        }
      }
    }
  }
}